 .u-section-1 {
  background-image: none;
  min-height: 1593px;
}

.u-section-1 .u-shape-1 {
  width: 136px;
  height: 65px;
  margin: 31px auto 0 calc(((100% - 1140px) / 2) + 140px);
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  font-family: "Alfa Slab One";
  font-size: 3.75rem;
  width: 672px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: -41px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 136px;
  height: 55px;
  margin: -39px calc(((100% - 1140px) / 2) + 140px) 0 auto;
}

.u-section-1 .u-shape-3 {
  height: 412px;
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  margin-top: 247px;
  margin-bottom: 0;
  min-height: 416px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 860px;
  margin: -1074px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 33px) calc(50% - 33px);
  min-height: 1251px;
  grid-gap: 66px 66px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 0 0;
}

.u-section-1 .u-image-1 {
  height: 271px;
  width: 271px;
  background-image: url("images/IMG_20220616_181214-013.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  font-family: "Baloo Bhaijaan 2";
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 10px -9px 0;
}

.u-section-1 .u-text-3 {
  margin: -10px -80px 0 203px;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-style: italic;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 31px 18px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.4375rem;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 12px 18px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 51px;
  min-height: 16px;
  width: 173px;
  min-width: 68px;
  margin: 27px auto 0 109px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  width: 49px;
  height: 49px;
  margin: -49px auto 0 42px;
}

.u-section-1 .u-icon-5 {
  width: 48px;
  height: 48px;
  margin: -48px 47px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 0 0;
}

.u-section-1 .u-image-2 {
  height: 271px;
  width: 271px;
  background-image: url("images/WhatsAppImage2022-06-24at9.58.39PM.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 33px auto 0;
}

.u-section-1 .u-text-6 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  font-family: "Baloo Bhaijaan 2";
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 10px -9px 0;
}

.u-section-1 .u-text-7 {
  margin: -10px -80px 0 203px;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-style: italic;
  transition-duration: 0.5s;
  font-family: Georgia, serif;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 31px 18px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.4375rem;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 12px 18px 0;
}

.u-section-1 .u-social-icons-2 {
  height: 51px;
  min-height: 16px;
  width: 173px;
  min-width: 68px;
  margin: 27px auto 0 109px;
}

.u-section-1 .u-icon-6 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-7 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-8 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-9 {
  width: 49px;
  height: 49px;
  margin: -49px auto 0 42px;
}

.u-section-1 .u-icon-10 {
  width: 48px;
  height: 48px;
  margin: -48px 47px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 0 0;
}

.u-section-1 .u-image-3 {
  height: 271px;
  width: 271px;
  background-image: url("images/tanmay1.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 33px auto 0;
}

.u-section-1 .u-text-10 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  font-family: "Baloo Bhaijaan 2";
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 10px -9px 0;
}

.u-section-1 .u-text-11 {
  margin: -10px -80px 0 203px;
}

.u-section-1 .u-text-12 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-style: italic;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 31px 18px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.4375rem;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 12px 18px 0;
}

.u-section-1 .u-social-icons-3 {
  height: 51px;
  min-height: 16px;
  width: 173px;
  min-width: 68px;
  margin: 27px auto 0 109px;
}

.u-section-1 .u-icon-11 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-12 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-13 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-14 {
  width: 49px;
  height: 49px;
  margin: -49px auto 0 42px;
}

.u-section-1 .u-icon-15 {
  width: 48px;
  height: 48px;
  margin: -48px 47px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 17px 0 0;
}

.u-section-1 .u-image-4 {
  height: 271px;
  width: 271px;
  background-image: url("images/vishwajeet.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 33px auto 0;
}

.u-section-1 .u-text-14 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  font-family: "Baloo Bhaijaan 2";
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 10px -9px 0;
}

.u-section-1 .u-text-15 {
  margin: -10px -80px 0 203px;
}

.u-section-1 .u-text-16 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-style: italic;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 31px 18px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.4375rem;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 12px 18px 0;
}

.u-section-1 .u-social-icons-4 {
  height: 51px;
  min-height: 16px;
  width: 173px;
  min-width: 68px;
  margin: 27px auto 0 109px;
}

.u-section-1 .u-icon-16 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-17 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-18 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-19 {
  width: 49px;
  height: 49px;
  margin: -49px auto 0 42px;
}

.u-section-1 .u-icon-20 {
  width: 48px;
  height: 48px;
  margin: -48px 47px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + 140px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 140px);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-4 {
    padding: 0;
  }

  .u-section-1 .u-text-6 {
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-9 {
    padding: 0;
  }

  .u-section-1 .u-text-10 {
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-14 {
    padding: 0;
  }

  .u-section-1 .u-text-14 {
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-19 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 140px);
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 140px);
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 140px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + 140px);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-45ed-90:not([data-block-selected]):not([data-cell-selected]),
.u-block-45ed-90:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-45ed-90:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-45ed-90:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-90:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-90:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-45ed-90.u-block-45ed-90.u-block-45ed-90.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-45ed-45:not([data-block-selected]):not([data-cell-selected]),
.u-block-45ed-45:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-45ed-45:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-45ed-45:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-45:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-45:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-45ed-45.u-block-45ed-45.u-block-45ed-45.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]),
.u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-45ed-92.u-block-45ed-92.u-block-45ed-92.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-45ed-92:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-45ed-92 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]).u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-45ed-70.u-block-45ed-70.u-block-45ed-70.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-45ed-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-45ed-70 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-8,
.u-section-1 .u-text-8:before,
.u-section-1 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-8 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-text-8 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-9,
.u-section-1 .u-text-9:before,
.u-section-1 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-9.u-text-9.u-text-9:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-9.u-text-9.u-text-9.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-10,
.u-section-1 .u-text-10:before,
.u-section-1 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-10.u-text-10.u-text-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-10.u-text-10.u-text-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-14,
.u-section-1 .u-text-14:before,
.u-section-1 .u-text-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-14.u-text-14.u-text-14:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-14.u-text-14.u-text-14.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-14 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-14 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-12,
.u-section-1 .u-text-12:before,
.u-section-1 .u-text-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-12 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-text-12 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-16,
.u-section-1 .u-text-16:before,
.u-section-1 .u-text-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-16 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-text-16 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-13,
.u-section-1 .u-text-13:before,
.u-section-1 .u-text-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-13.u-text-13.u-text-13:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-13.u-text-13.u-text-13.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-17,
.u-section-1 .u-text-17:before,
.u-section-1 .u-text-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-17.u-text-17.u-text-17:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-17.u-text-17.u-text-17.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-17 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-17 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: #142334;
}
::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 15px;
}